[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Lincity-NG
GenericName=City Simulation Game
GenericName[de]=Stadtsimulationsspiel
Comment=Plan and build a city and take care of transport, economics, electricity and others.
Icon=lincity-ng.png
Exec=lincity-ng
Terminal=false
StartupNotify=false
Categories=Game;Simulation;
