[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Lincity-NG
GenericName=City Simulation Game
GenericName[de]=Ein Stadt Simulations Spiel
Comment=Plan and Build a city and take care of transpost, economics, elecriticty
and others.
Icon=lincity-ng.png
Exec=lincity-ng
Terminal=false
StartupNotify=false
Categories=Application;Game;Simulation
