[Desktop Entry]
Type=Application
Version=1.0
Name=Lincity-NG
GenericName=City Simulation Game
GenericName[de]=Stadtsimulationsspiel
GenericName[tr]=Şehir Simulasyon Oyunu
Comment=Plan and build a city and take care of transport, economics, electricity and others.
Comment[de]=Plane und baue eine Stadt und kümmere dich um das Verkehrswesen, die Wirtschaft, Elektrizität und mehr.
Comment[tr]=Bir şehir planlayın, inşa edin ve ulaşım, ekonomi, elektrik ve diğer ihtiyaçları ile ilgilenin.
Icon=lincity-ng
Exec=lincity-ng
Terminal=false
StartupNotify=false
Categories=Game;Simulation;
Keywords=game;simulation;city;strategy;3D;economics;transport;buildings;
