[Desktop Entry]
Type=Application
Version=1.5
Name=LinCity-NG
GenericName=City Simulation Game
GenericName[de]=Stadtsimulationsspiel
GenericName[gd]=Geama samhlachadh baile
GenericName[it]=Gioco di Simulazione di Città
GenericName[ru]=Градостроительный симулятор
GenericName[tr]=Şehir Simulasyon Oyunu
Comment=Plan and build a city and take care of transport, economics, electricity and others.
Comment[de]=Plane und baue eine Stadt und kümmere dich um das Verkehrswesen, die Wirtschaft, Elektrizität und mehr.
Comment[gd]=Planaig is tog baile agus stiùirich an còmhdhail, an eaconamaidh, na seirbheisean dealain is a bharrachd.
Comment[it]=Pianifica e costruisci una città prendendoti cura dei trasporti, dell'economia, dell'elettricità e altro ancora.
Comment[ru]=Стройте и развивайте город, его экономику, транспорт, инфраструктуру и т.д.
Comment[tr]=Bir şehir planlayın, inşa edin ve ulaşım, ekonomi, elektrik ve diğer ihtiyaçları ile ilgilenin.
Icon=io.github.lincity_ng.lincity-ng
Exec=lincity-ng
Terminal=false
StartupNotify=false
Categories=Game;Simulation;
Keywords=game;simulation;city;strategy;3D;economics;transport;buildings;
